<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .card-header {
        background-color: #007bff;
</style>
<body>
    <div class="container p-4">
        <h1>Pedidos en Cocina</h1>
        <div class="row">
            {{#if pedidos.length}}
                {{#each pedidos}}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-receipt"></i> Pedido ID: {{this.id_compra}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-box-open"></i> Productos</h5>
                                <ul class="product-list">
                                    {{#each this.productos}}
                                        <li>
                                            <i class="fas fa-utensils"></i>
                                            <span class="product-item">{{this.nombre}}</span> - 
                                            <span class="product-quantity">Cantidad: {{this.cantidad}}</span>
                                        </li>
                                    {{/each}}
                                </ul>
                                <button class="btn btn-success btn-block marcar-listo" data-id="{{this.id_compra}}"><i class="fas fa-check"></i> Pedido Listo</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>No hay pedidos pendientes.</p>
            {{/if}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.marcar-listo').click(function() {
                const id_compra = $(this).data('id');
                $.post('/links/marcar-pedido-listo', { id_compra: id_compra }, function(response) {
                    if (response.success) {
                        Swal.fire('Éxito', response.message, 'success').then(() => {
                            location.reload();
                        });
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                }).fail(function() {
                    Swal.fire('Error', 'Ocurrió un error, por favor inténtelo más tarde.', 'error');
                });
            });
        });
    </script>
</body>
</html>
