
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Reiniciar márgenes y padding en body y html */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: #f5f5f5;
        }
    </style>

<body>
       <div class="container-custom p-4">
        <h1>Detalles del domicilio</h1>
        {{#if productos}}
        <h2>Productos:</h2>
        <div class="row">
            {{#each productos}}
            <div class="col-md-3 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{{urlimagen}}" alt="{{nombre}}" class="img-fluid" style="width: 100px; height: 100px;">
                        <p class="m-2 font-weight-bold">{{nombre}}</p>
                        <p class="m-2">Cantidad: {{cantidad}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <h2>Dirección de Entrega:</h2>
        <p><i class="fas fa-home"></i> {{direccion}}</p>
        <button id="entregado-btn" class="btn btn-success">Entregado</button>
        {{else}}
        <p>{{message}}</p>
        {{/if}}
    </div>

    <!-- Incluir jQuery y Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#entregado-btn').click(function() {
            var idDomicilio = '{{id_domicilio}}';
            var idDomiciliario = '{{id_domiciliario}}';
            console.log('ID Domicilio:', idDomicilio);
            console.log('ID Domiciliario:', idDomiciliario);

            $.post('/links/entregado', {
                id_domicilio: idDomicilio,
                id_domiciliario: idDomiciliario
            }, function(data) {
                if (data.success) {
                    Swal.fire({
                        title: 'Success!',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            }).fail(function() {
                Swal.fire({
                    title: 'Error!',
                    text: 'An error occurred, please try again later.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        });
    });
    </script>
</body>
</html>
