<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{productos.id}}" method="POST">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" value="{{productos.urlimagen}}" name="urlimagen" class="form-control"
                            placeholder="URL imagen">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" value="{{productos.nombre}}" name="nombre" class="form-control"
                            placeholder="nombre del producto">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" value="{{productos.descripcion}}" name="descripcion" class="form-control"
                            placeholder="Descripcion">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" value="{{productos.precio}}" name="precio" class="form-control"
                            placeholder="Precio">
                    </div>
                    <br>
                    <div class="col-md-4">
                        <select name="categoria"  class="form-select">
                            <option value="{{productos.categoria}}">{{productos.categoria}}</option>
                            <option value="antibioticos">Antibióticos</option>
                            <option value="analgesicos">Analgésicos y Antiinflamatorios</option>
                            <option value="antigripales">Antigripales y Resfriados</option>
                            <option value="antihipertensivos">Antihipertensivos</option>
                            <option value="antidiabeticos">Antidiabéticos</option>
                            <option value="vitaminas">Vitaminas y Suplementos</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" value="{{productos.stock}}" name="stock" class="form-control"
                            placeholder="stock">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Save</button>
                    </div>
            </form>
        </div>
    </div>
</div>