<div class="container p-4">
    <div class="row">
        {{#each productos}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <img src="{{imagen}}" alt="">
                        
                    <p class="m-2">{{Descripcion}}</p>
                    <p class="m-2">Precio: {{Precio}}</p>
                    <p class="m-2">Categoria: {{Categoria}}</p>
                    <p class="m-2">Disponible: {{Disponible}}</p>
                    <a class="btn btn-danger" href="/links/delete/{{Codigo}}">
                        Delete Link
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{Codigo}}">
                        Edit
                    </a>
                    <a class="btn btn-success" href="">
                        Comprar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Links saved yet.</p>
                <a href="/links/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
